# Docker
uploads/

# Node / pnpm
node_modules/
dist/
*.log

# Python
__pycache__/
*.pyc
*.pyo
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# Entorno
.env

# Lockfiles (ignorados para no ensuciar commits; package.json es suficiente)
pnpm-lock.yaml
package-lock.json

# Docker
.dockerignore

# SonarQube
.scannerwork/
.sonartmp/
